spring:
  application:
    name: cube-server

  datasource:
    hikari:
      jdbc-url: jdbc:h2:file:./database/cube
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

server:
  port: 8080

jwt:
  secret: UaAu6RQW2bBaDFa0M3RY2dkImGORR5cYkLdWnxh7jt0= # Generated key
  expiration: 86400000      # 24시간 (밀리초)